<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<description>Shiro Configuration</description>
	
	<!-- 用户授权信息 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>
	
	<!-- 自定义的 Realm -->
	<bean id="myShiroRealm" class="com.meng.realm.MyShiroRealm">
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>
	
	<!-- 必须的安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myShiroRealm"></property>
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/login"></property>
		<!-- 没有权限跳转的页面 -->
		<property name="unauthorizedUrl" value="/login"></property>
		<property name="filterChainDefinitions">
			<value>
			<!-- authc 需要权限，anon 匿名访问 不需要权限 -->
				/admin/** = authc
				/admin/**/* = authc
				/login = anon
				/ = anon
				/index = anon
			</value>
		</property>
	</bean>
	
	<!-- 保证实现了 Shiro 内部的 lifecycle -->
	<bean id="lifecycleBeanPostProcessor" 
		class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
	
	<!-- AOP 式方法级权限检查 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true"></property>
	</bean>
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"></property>
	</bean>

</beans>
